.featured-collection-section {
  @include mobile-only {
    overflow-x: hidden;
  }
}

.featured-collection {
  padding-bottom: $grid-gutter;

  @include tablet-up {
    padding-bottom: 100px;

    [class*='template-product'] & {
      padding-bottom: 72px;
    }
  }

  &__slider {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;

    @include tablet-up {
      margin-left: -$grid-gutter / 2;
      margin-right: -$grid-gutter / 2;
    }
  }
}
