<div class="container account--container">
  {%- include 'account-nav' -%}

  <section class="account--content">
    <h1 class="account--content__header">Addresses</h1>
    {%- include 'account-saved-addresses' -%}

    {%- include 'account-new-address' -%}
  </section>
</div>
